@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "System Roles";
}

<p>
    <a class="btn btn-primary" asp-asp-controller="LeaveApplications" asp-action="Create"><i class="fa fa-plus"></i> Add New Role</a>
</p>
<div class="card">
    <div class="card-header">
        <h1 class="card-title"><b>Role List</b></h1>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Role No
                    </th>
                    <th>
                        Role Name
                    </th>
                    <th style="text-align: center; vertical-align:middle">Edit</th>
                    <th style="text-align: center; vertical-align:middle">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr> 
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="text-align: center; vertical-align:middle">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td style="text-align: center; vertical-align:middle">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
