@model HRMS.Models.Cluster

@{
    ViewData["Title"] = "Create";
}
<h4>Add Cluster</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="ClusterCode" class="control-label"></label>
                    <input asp-for="ClusterCode" class="form-control" />
                    <span asp-validation-for="ClusterCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ClusterName" class="control-label"></label>
                    <input asp-for="ClusterName" class="form-control" />
                    <span asp-validation-for="ClusterName" class="text-danger"></span>
                </div>
            </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
